body{
	font-family: "微軟正黑體","STHeiti",Lato, sans-serif;
}

.left-logo{
	text-align: center;
	width: 18.75%;
	position: fixed;
}

.left-logo img{
	width: 200px;
}

.left-logo p{
	text-align: center;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.left-logo .copyright{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 18.75%;
    text-align: left;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.right-content-index{
	height:100vh;
}

.right-content-index div .hidden{
	height: calc(100vh / 3);
	background-repeat: no-repeat;
	background-size:cover;
}

.right-content-index .people{
	background-image: url('images/asskid1.jpg');
	background-position:center center;
}

.right-content-index .profolio{
	background-image: url('images/asskid2.jpg');
	background-position:center center;
}

.right-content-index .contact{
	background-image: url('images/asskid3.jpg');
	background-position:center center;
}

.ui.move.reveal{
	height: calc(100vh / 3);
}

.ui.leaderboard.mafia{
	background-image: url('images/header.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size:cover;
	overflow: hidden;
	width: 100%;
	height: 200px;
}

img.choose_person{
	width: 4em !important;
	height: 4em !important;
	margin: 1em;
}

#person_list .item{
    padding: 10px;
    cursor: pointer;
}

#person_list .item.active{
    background-color: #ddd;
    border-radius: 5px;
}

p.person_description{
	margin: 10px 0;
}

span.project_description{
	font-size: 12px;
}

.right-content-index h1{
	text-align: center;
	color: #fff;
}

.left_menu{
	height: 80px;
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
	  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.left_menu:hover{
	height: 100px;
}

.left_menu h3:hover{
	line-height: 100px;
}

.left_menu h3{
	line-height: 80px;
	color: #fff;
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.lm_person{
	background-image: url('images/asskid1.jpg');
}

.lm_project{
	background-image: url('images/asskid2.jpg');
}

.lm_contact{
	background-image: url('images/asskid3.jpg');
}

.gray_mask{
	background-image: url('images/mask.png');
	background-repeat: no-repeat;
	background-size:cover;
	height: calc(100vh / 3);
	width: 100%;
}

#mobile_menu{
	display: none;
	box-shadow: none;
	margin-top: 10px;
}

#mobile_menu .header a img{
	width: 2.5em;
}

.mobile_person_choose{
	border-bottom: 1px solid #ccc;
}

.mobile_person_choose a{
	color: #333;
}

.mobile_person_choose a img{
	margin: 10px 0 10px 0
}

.contact_other{
	padding: 0 10px  !important;
}

.contact_description{
	font-size: 13px;
}



@media (max-width: 991px) {
	#person_intro{
		padding: 0 15px 0 15px;
	}

	#mobile_menu{
		display: block;
	}

	.case_meta{
		margin-top: 10px !important;
	}
}