body{
	font-family: "微軟正黑體","STHeiti",Lato, sans-serif;
}

.left-logo{
	text-align: center;
	width: 25%;
	position: fixed;
}

.left-logo p{
	text-align: center;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.left-logo .copyright{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    text-align: center;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.right-content-index{
	height:100vh;
}

.right-content-index div .hidden{
	height: calc(100vh / 3);
	background-repeat: no-repeat;
	background-size:cover;
}

.right-content-index .people{
	background-image: url('images/asskid1.jpg');
	background-position:center center;
}

.right-content-index .profolio{
	background-image: url('images/asskid2.jpg');
	background-position:center center;
}

.right-content-index .contact{
	background-image: url('images/asskid3.jpg');
	background-position:center center;
}

.ui.move.reveal{
	height: calc(100vh / 3);
}

.ui.leaderboard.bird{
	background-image: url('images/bird_header.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
	overflow: hidden;
	width: 100%;
}

.ui.leaderboard.mafia{
	background-image: url('images/mafia_header.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
	overflow: hidden;
	width: 100%;
}

img.choose_person{
	width: 4em !important;
	height: 4em !important;
	margin: 1em;
}

#person_list .item{
    padding: 10px;
    cursor: pointer;
}

#person_list .item.active{
    background-color: #ddd;
    border-radius: 5px;
}

p.person_description{
	margin: 10px 0;
}

span.project_description{
	font-size: 12px;
}

.right-content-index h1{
	text-align: center;
	line-height: calc(100vh / 3);
	color: #fff;
}

.left_menu_person{
	height: 80px;
	background-image: url('images/asskid1.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
}

.left_menu_person h3{
	line-height: 80px;
	color: #fff;
}

.left_menu_project{
	height: 80px;
	background-image: url('images/asskid2.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
}

.left_menu_project h3{
	line-height: 80px;
	color: #fff;
}

.left_menu_contact{
	height: 80px;
	background-image: url('images/asskid3.jpg');
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
}

.left_menu_contact h3{
	line-height: 80px;
	color: #fff;
}

.gray_mask{
	background-image: url('images/mask.png');
	background-repeat: no-repeat;
	background-size:cover;
	height: calc(100vh / 3);
	width: 100%;
}

#mobile_menu{
	display: none;
	box-shadow: none;
	margin-top: 10px;
}

#mobile_menu .header a img{
	width: 2.5em;
}

.mobile_person_choose{
	border-bottom: 1px solid #ccc;
}

.mobile_person_choose a{
	color: #333;
}

.mobile_person_choose a img{
	margin: 10px 0 10px 0;
}



@media (max-width: 991px) {
	#person_intro{
		padding: 0 15px 0 15px;
	}

	#mobile_menu{
		display: block;
	}

	.case_meta{
		margin-top: 10px !important;
	}
}